／/* h1 { color: green;} */
h1 {color: #F0a050;}
th,td {border: dashed thick black;}
th.important[color: red; }
p.sample1 {border: double 10px #000ff;}
p.sample2 {border: inset 10px 3ff0000;}
p.sample3 {margin: 30px 30px;padding:border:medium solid #ff00ff;}
